.details {
    height: 100%;
}

.details__center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: lightgrey;
    font-size: 26px;
}

.task__info {
    height: 50px;
    display: flex;
    align-items: center;

}

.task-remove {
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-remove-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
}

.task-fromNow {
    border-left: 1px solid lightgrey;
    padding-left: 17px;
    font-style: italic;
}

.task__description {
    margin-left: 19px;
}

.task-title {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.description__textarea {
    resize: none;
    width: 95%;
    height: 400px;
    border: none;
    margin-top: 15px;
    font-size: 16px;
    outline: none;
    font-family: Roboto;
    border-bottom: 1px solid lightgrey;
}