.details {
    height: 100%;
}

.details__task {
    height: 100%;
}

.details__center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: lightgrey;
    font-size: 26px;
    text-align: center;
}

.task__info {
    height: 50px;
    display: flex;
    align-items: center;

}

.task-remove {
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-remove-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
}

.task-fromNow {
    border-left: 1px solid lightgrey;
    padding-left: 17px;
    font-style: italic;
}

.task__description {
    margin-left: 19px;
    height: 90%;
}

.task-title {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.description__textarea {
    resize: none;
    width: 95%;
    height: 80%;
    border: none;
    margin-top: 15px;
    font-size: 16px;
    outline: none;
    font-family: Roboto;
    border-bottom: 1px solid lightgrey;
}

.details-close {
    width: 60px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightgrey;
    display: none;
}

.details-close button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

@media (max-height: 910px) {
    .description__textarea {
        height: 70%;
    }
}

@media (max-height: 693px) {
    .description__textarea {
        height: 50%;
    }
}

@media (max-height: 474px) {
    .description__textarea {
        height: 30%;
    }
}

@media (max-width: 600px) {
    .details-close {
        display: flex;
    }
}