.user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.user__form {
    width: 500px;
    height: 610px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    flex-direction: column;
    box-shadow: 0 0 10px 0.1px #000000;   
}

.user__errors p {
    text-align: center;
    color: red;
}

.user__errors {
    margin-top: 20px;
}

.user__settings-title {
    font-size: 18px;
    border-bottom: 1px solid #999;
    margin-left: 20px;
    padding-left: 20px;
    padding-bottom: 1px;
    box-sizing: border-box;
    width: 90%;
}

.title-small {
    font-size: 13px;
}

.settings-group {
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    align-items: center;
}

.settings__file {
    margin-left: 20px;
    align-self: flex-end;
    width: 199px;
}

.settings__avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.settings__background {
    width: 250px;
    height: 180px;
}

.user__password {
    height: 100%;
    padding: 0;
    padding-left: 5px;
    box-sizing: border-box;
    height: 35px;
    margin-right: 10px;
    border: 1px solid #000000;
    outline-color: #4a148c;
}

.settings-group:last-of-type {
    margin-top: 30px;
}

.settings-group button {
    margin-right: 20px;
}

@media (max-width: 928px) {
    .user__form {
        margin-left: 200px;
    }
}

@media (max-width: 748px) {
    .user__form {
        margin: 0;
    }
    .user {
        justify-content: flex-end;
    }
}

@media (max-width: 700px) {
    .user {
        justify-content: center;
    }
    .avatar-settings, .background-settings {
        flex-direction: column;
        align-items: flex-start;
    }
    .settings__file {
        align-self: flex-start;
        margin: 0;
    }
}

@media (max-width: 500px) {
    .user__form {
        width: 95%;
    }
}

@media (max-width: 422px) {
    .password-settings {
        flex-direction: column;
        align-items: flex-start;
    }
    .password-settings input:first-of-type {
        margin-bottom: 10px;
    }
    .settings-group:last-of-type {
        margin-top: 10px;
    }
}