body {
    height: 100%;
}

.head {
    width: calc(100% - 250px);
    height: 100vh;
    margin-left: auto;
}

.head__page-title {
    position: absolute;
    margin: 0;
    font-size: 28px;
    top: 5px;
    margin-left: 15px;
    text-transform: capitalize;
}

.head-wrapper {
    display: flex;
}

.head__todo {
    height: calc(100% - 50px);
    width: 60%;
    margin-left: 15px;
    position: relative;
    top: 50px;
    z-index: 1;
}

.todo__form {
    position: relative;
}

.todo__btn-picker {
    position: absolute;
    right: 5px;
    top: 13px;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.todo__picker {
    display: none;
}

.todo__group {
    width: 100%;
    border-bottom: 1px solid #000000;
    padding-bottom: 15px;
    overflow: hidden;
    transition: 1s;
    max-height: 1000px;
}

.todo__group.hidden {
    transition: 0.3s;
    max-height: 40px;
}

.todo__group-dropBtn {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 17px;
    padding: 0;
    margin-top: 10px;
    width: 100%;
    position: relative;
    height: 40px;
}

.dropBtn-icon {
    transition: 0.3s;
}

.todo__group.hidden .dropBtn-icon {
    transition: 0.3s;
    transform: rotate(-90deg);
}

.todo__group-year {
    position: absolute;
    right: 0;
    font-size: 14px;
}

.todo__group-tasks {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 30px;
}

.todo__tasks__item {
    display: flex;
    align-items: center;
    height: 35px;
    overflow: hidden;
    transition: 1s;
}

.tasks__item-checkbox {
    width: 18px;
    height: 18px;
    border: 1px solid #000000;
    background: transparent;
    cursor: pointer;
    outline: none;
    position: relative;
}

.item-checkbox__box {
    width: 16px;
    height: 16px;
    background: lightgrey;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.item-checkbox__box.completed {
    display: flex;
    z-index: -1;
}

.tasks__item-task {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.task-name {
    margin: 0;
    margin-left: 10px;
}

.head__info {
    width: 40%;
    height: 100%;
    right: 0;
    position: fixed;
}

.head__info-wrapper {
    margin-left: 115px;
    height: 100%;
}

.head__detailsComponent {
    height: 60%;
}

.head__weatherComponent {
    height: 40%;
}

@media (max-width: 1109px) {
    .head {
        width: calc(100% - 200px);
    }
    .head__info-wrapper {
        margin-left: 85px;
    }
}

@media (max-width: 700px) {
    .head {
        width: 100%;
    }
    .head__info-wrapper {
        margin-left: 10px;
    }
    .head__page-title {
       margin-left: 50px; 
    }
}

@media (max-width: 600px) {
    .head__info {
        width: 100%;
        background: white;
        z-index: 1;
        display: none;
    }
    .head__info.active {
        display: block;
    }
    .head__todo {
        width: 100%;
        margin-right: 15px;
    }
    .head__info-wrapper {
        margin: 0;
    }
}