.weather {
    background: url('https://wallpapersite.com/images/pages/pic_w/10471.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-left: 19px;
    position: relative;
    box-shadow: 1px 2px 10px #000;
}

.weather__button {
    position: absolute;
    right: 0;
}

.weather__info {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.weather__city {
    display: flex;
}

.weather__icon {
    width: 112px;
    height: 112px;
    position: absolute;
    margin-left: -30px;
}

.weather__city-name {
    color: #ffffff;
    font-family: Roboto;
    font-size: 36px;
    letter-spacing: 4px;
    z-index: 1;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}


.weather__temp {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: -30px;
}

.weather__temp p {
    color: #ffffff;
    font-size: 64px;
    margin: 0;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.weather__container {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.weather__line {
    height: 45px;
    width: 1px;
    background: #73ADE1;
}

.weather__box {
    color: #ffffff;
    text-align: center;
}

.weather__box p {
    margin: 0;
}

.weather__error {
    color: #ffffff;
}

@media (max-width: 1109px) {
    .weather__icon {
        right: 0;
    }
    .weather__city-name {
        font-size: 30px;
    }
    .weather__temp p {
        font-size: 50px;
    }
}

@media (max-width: 874px) {
    .weather__city-name {
        font-size: 20px;
    }
    .weather__icon {
        width: 64px;
        height: 64px;
    }
    .weather__temp p {
        font-size: 40px;
    }
    .weather__box {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .weather {
        margin: 0;
    }
}